<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Indriyanto.dicoding_submission">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/iconapps"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/iconapps"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".About"
            android:parentActivityName=".MainActivity"></activity>
        <activity
            android:name=".JawaTimur.ListJawaTimur"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".JawaBarat.ListJawaBarat"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".DetailWisata" />
        <activity
            android:name=".Jogjakarta.ListYogyakarta"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".JawaTengah.ListJawaTengah"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>